{% extends "layout.html" %}

{% load humanize %}

{% block title %}Editar evaluación{% endblock title %}

{% block body %}

<form method="post" action="{% url 'evaluacion:guardar_post' %}">

	<input name="trabajo" type="hidden" value="{{ trabajo.id }}">
	<input name="evaluacion" type="hidden" value="{{ formulario.id }}">

	{% if usuario == 'Auditor' %}
		{% csrf_token %}
		Estado:
		<br>
		<div class="col-sm-3">
			<select id="estado" class="form-control" name="estado">
			{% if trabajo.estado.titulo == 'Activo' %}
				<option value="1">Activo</option>
				<option value="4">Anexo</option>
				<option value="2">Finalizado</option>
			{% endif %}

			{% if trabajo.estado.titulo == 'Anexo' %}
				<option value="4">Anexo</option>
				<option value="2">Finalizado</option>
			{% endif %}
			</select>
		</div>
		<br>
	{% else %}
		{{ trabajo.estado }}
	{% endif %}

	<br><br>

	{% for dominio in formulario.certificacion.dominio_set.all %}
	<div class="fieldset">
		<legend>{{ dominio.numero }} ) {{ dominio }}</legend>
		{% for objetivo in dominio.objetivo_set.all %}
		<div class="row-fluid">
			<div class="span6">
				<div class="fieldset">
					<legend>{{ objetivo.numero }} ) {{ objetivo }}</legend>
					{% for control in objetivo.control_set.all %}
					<div class="row">
						<div class="col-sm-6">
							{{ control.numero }} ) {{ control }}
						</div>
						<div class="col-sm-3">
							<input type="checkbox" id="calificacion-{{ control.id }}" name="controles[]" value="{{ control.id }}">
						</div>
						<div class="col-sm-3">
							<textarea id="comentario-{{ control.id }}" type="text" class="form-control"  name="comentarios[]"></textarea>
							<input type="hidden" name="comentarios_id[]" value="{{ control.id }}">
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endfor %}

	<br><br>

	{% if trabajo.estado.titulo != 'Finalizado' and usuario == 'Auditor' %}
	<input type="submit" class="btn btn-primary" value="Guardar">
	{% endif %}

</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$.ajax({
	url: "{% url 'evaluacion:get_calificaciones' %}",
	data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': {{ trabajo.id }}, 'evaluacion': {{ formulario.id }}},
	contentType: "application/x-www-form-urlencoded",
	dataType: "json",
	type: "POST",
	success: function (datos) {
		var calificaciones = datos.calificaciones;

		$.each(calificaciones, function(i, calificacion) {
			$("#calificacion-" + calificacion.control_id).prop("checked", calificacion.estado);
			$("#comentario-" + calificacion.control_id).prop("value", calificacion.comentario);
		});
	},
	error: function(jqXHR){
	}
});
</script>

{% endblock body %}