{% extends "layout.html" %}

{% load humanize %}

{% block title %}Editar evaluación{% endblock title %}

{% block body %}

Empresa: {{ trabajo.getNombreEmpresa }}
<br>
Tipo: {{ trabajo.evaluacion.getNombre }}
<br>
Fecha: {{ trabajo.evaluacion.getFecha }} | {{ trabajo.evaluacion.creacion|naturaltime }}
<br><br>
<form method="post" action="{% url 'evaluacion:guardar_post' %}">
	<input name="trabajo" type="hidden" value="{{ trabajo.id }}">
	<input name="evaluacion" type="hidden" value="{{ formulario.id }}">
	Estado:

{% if trabajo.estado.titulo == 'Activo' and usuario == 'Auditor' %}
	<select id="estado" name="estado">
		{% for estado in estados %}
		<option value="{{ estado.id }}">{{ estado }}</option>
		{% endfor %}
	</select>
	{% csrf_token %}
{% else %}
	{{ trabajo.estado }}
{% endif %}

	{% for dominio in formulario.certificacion.dominio_set.all %}
		<h3>{{ dominio.numero }} ) {{ dominio }}</h3>

		{% for objetivo in dominio.objetivo_set.all %}
			<h4>{{ objetivo.numero }} ) {{ objetivo }}</h4>

			{% for control in objetivo.control_set.all %}
				<p>
					{{ control.numero }} ) {{ control }}
					<input type="checkbox" id="calificacion-{{ control.id }}" name="controles[]" value="{{ control.id }}">
					Comentario: <input id="comentario-{{ control.id }}" type="text" name="comentarios[]">
					<input type="hidden" name="comentarios_id[]" value="{{ control.id }}">
				</p>
			{% endfor %}
		{% endfor %}
	{% endfor %}
	<br>
	<br>
{% if trabajo.estado.titulo == 'Activo' and usuario == 'Auditor' %}
	<input type="submit" value="Guardar">
{% endif %}
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$.ajax({
        url: "{% url 'evaluacion:get_calificaciones' %}",
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'id': {{ trabajo.id }}, 'evaluacion': {{ formulario.id }}},
        contentType: "application/x-www-form-urlencoded",
        dataType: "json",
        type: "POST",
        success: function (datos) {
			var calificaciones = datos.calificaciones;

            $.each(calificaciones, function(i, calificacion) {
                $("#calificacion-" + calificacion.control_id).prop("checked", calificacion.estado);
                $("#comentario-" + calificacion.control_id).prop("value", calificacion.comentario);
            });
        },
        error: function(jqXHR){
        }
    });
</script>

{% endblock body %}