{% extends "layout.html" %}

{% block title %}Inicio{% endblock title %}

{% block body %}

Bienvenido representante de: {{ request.user.first_name }} | <a href="{% url 'usuario:salir_post' %}">Salir</a>

<br><br>

<a href="{% url 'muro:crear' %}">Crear trabajo</a>

<br><br>

Lista de trabajos:

<br><br>

<table border="1" align="center">
  <tr>
    <th>Auditor</th>
    <th>Certificación</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Preparación</th>
    <th>Anexo</th>
  </tr>

{% if trabajos %}
	{% for trabajo in trabajos %}
  
  <tr>
    <td>{{ trabajo.getNombreAuditor }}</td>
    <td>{{ trabajo.getNombreCertificacion }}</td>
    <td>{{ trabajo.getFecha }}</td>
    <td>{{ trabajo.estado }}</td>
    <td><a href="{{ trabajo.getUrlPreparacion }}">Ver</a></td>
    <td><a href="{{ trabajo.getUrlAnexo }}">Ver</a></td>
  </tr>
	
	{% endfor %}
{% endif %}

</table>

{% endblock body %}