{% extends "layout.html" %}

{% block title %}Inicio{% endblock title %}

{% block body %}

Bienvenido representante de: {{ request.user.first_name }} | <a href="{% url 'usuario:salir_post' %}">Salir</a>



<br><br><br><br><br><br>  

<div class="col-lg-12 text-center">
                    <h2>Lista de trabajos:  </h2>
                    <hr class="star-primary">
                    <div class="col-sm-4 portfolio-item">
</div>
</div>
<br><br>



<br><br>

<table style="width:100%">
  <tr>
    <th>Auditor</th>
    <th>Certificación</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Opcion</th>
  </tr>

{% if trabajos %}
	{% for trabajo in trabajos %}
  
  <tr>
    <td>{{ trabajo.getNombreAuditor }}</td>
    <td>{{ trabajo.getNombreCertificacion }}</td>
    <td>{{ trabajo.getFecha }}</td>
    <td>{{ trabajo.estado }}</td>
    <td>
      {% if trabajo.estado.titulo == 'Finalizado' %} 
        <a href="{{ trabajo.getUrlDescarga }}">Descargar</a>
      {% else %}
        En espera...
      {% endif %}
      </td>
  </tr>
	
	{% endfor %}
{% endif %}

</table>

<br><br><br>

{% endblock body %}