{% extends "layout.html" %}

{% load humanize %}

{% block title %}Lista de trabajos{% endblock title %}

{% block body %}

Lista de trabajos pendientes:

<br><br><br><br><br><br>


<div class="col-lg-12 text-center">
                    <h2>Trabajos pendientes:</h2>
                    <hr class="star-primary">
                    <div class="col-sm-4 portfolio-item">
</div>
</div>



<table style="width:100%">
  <tr>
    <th>Empresa</th>
    <th>Fecha</th>
    <th>Opciones</th>
  </tr>

{% if trabajos %}
	{% for trabajo in trabajos %}
  
  <tr>
    <td>{{ trabajo.getNombreEmpresa }}</td>
    <td>{{ trabajo.creacion|naturaltime }}</td>
    <td><a href="{{ trabajo.getUrlTomar }}">Tomar</a></td>
  </tr>
	
	{% endfor %}
{% endif %}

</table>
<br>

{% endblock body %}